.title{
    font-size: 24px;
    a {
        color:#369;
    }
}
div{
    p{
        font-family: 'Courier New', Courier, monospace;

    }
    span{
        display: block;
        width: 200px;
    }
}